/* reset */
header input {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
}
#editor {
    margin: 0;
}

/* custom styles */
body {
    display: flex;
    flex-direction: column;
}

/* header */
header {
    display: flex;
    align-items: center;

    height: 50px;
    flex-shrink: 0;
    padding: 0 20px;
    box-sizing: border-box;

    background-color: var(--top);
}

header .check {
	margin-right: 10px;
}

#links-btn {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
}
#links-btn svg {
    width: 40px;
    height: 40px;
    fill: white;
}

header input {
    width: 50%;
    padding: 0 10px;
    background-color: var(--top);

    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 30px;
    color: white;
	cursor:pointer;
    margin-right: auto;

    transition: padding 100ms ease-in-out;
}
header input:hover,
header input:focus {
    background-color: var(--light);
}
header input:focus{
	cursor:auto;
}

#save-btn {
    width: 40px;
    height: 40px;
    pointer-events: none;
    cursor: pointer;
}
#save-btn.edited {
    pointer-events: all;
}
#save-btn svg {
    width: 40px;
    height: 40px;
    fill: white;
    opacity: 0.25;
    transition: opacity 100ms ease-in-out;
}
#save-btn.edited svg {
    opacity: 1;
}
 
/* editor */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#editor {
    flex-grow: 1;
}

/* liinks popup */
#links-detail { display: none; }


/* better monokai */

#editor.ace-monokai {
    background-color: var(--background);
}

#editor.ace-monokai .ace_gutter {
    background-color: var(--light);
}

#editor.ace-monokai .ace_selection {
    background-color: var(--lighter);
}

#editor.ace-monokai .ace_marker-layer .ace_active-line {
    background-color: rgba(0, 0, 0, 0.2);
}
