/* reset */
input {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
}
#editor {
    margin: 0;
}

/* custom styles */
body {
    display: flex;
    flex-direction: column;
}

/* header */
header {
    display: flex;
    align-items: center;

    height: 50px;
    flex-shrink: 0;
    padding: 0 20px;
    box-sizing: border-box;

    background-color: var(--top);
}

header .check {
	margin-right: 10px;
}

#links-btn {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
}
#links-btn svg {
    width: 40px;
    height: 40px;
    fill: white;
}

header input {
    width: 50%;
    padding: 0 10px;
    background-color: var(--top);

    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 30px;
    color: white;
	cursor:pointer;
    margin-right: auto;

    transition: padding 100ms ease-in-out;
}
header input:hover,
header input:focus {
    background-color: var(--light);
}
header input:focus{
	cursor:auto;
}

#save-btn {
    width: 40px;
    height: 40px;
    pointer-events: none;
    cursor: pointer;
}
#save-btn.edited {
    pointer-events: all;
}
#save-btn svg {
    width: 40px;
    height: 40px;
    fill: white;
    opacity: 0.25;
    transition: opacity 100ms ease-in-out;
}
#save-btn.edited svg {
    opacity: 1;
}
 
/* editor */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#editor {
    flex-grow: 1;
}

/* links popup */
#links-popup {
    display: none; /* flex */
    flex-direction: column;

    width: 100%;
    max-width: 600px;
    height: 500px;

    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    right: 0; left: 0;
    z-index: 10;

    background-color: var(--light);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

#links-popup header h1 {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: white;
}

#links-popup header #links-close-btn {
    width: 40px;
    height: 40px;
    margin-left: auto;
    fill: white;
    cursor: pointer;
}

#links-popup main {
    align-items: center;
    padding: 20px;
    overflow: auto;
}

#links-popup main .link-entry {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 10px;
}
#links-popup main .link-entry:hover {
    background-color: var(--lighter);
}

#links-popup main .link-entry input {
    display: block;
    height: 40px;
    width: 100%;
    padding: 10px;
    padding-right: 30px;

    font-family: "Segoe UI", Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;

    cursor: pointer;
}
#links-popup main .link-entry input:focus {
	cursor:auto;
}
#links-popup main .link-entry input:focus {
    background-color: var(--lighter);
}

#links-popup main .link-entry svg {
    position: absolute;
    top: 0; right: 0;

    height: 40px;
    width: 40px;
    padding: 5px;
    flex-shrink: 0;

    fill: white;
    opacity: 0.5;
    cursor: pointer
}
#links-popup main .link-entry svg:hover {
    opacity: 1;
}

#add-link-btn {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}
#add-link-btn:hover {
    background-color: var(--lighter);
}

#add-link-btn svg {
    display: block;
    height: 30px;
    width: 30px;
    margin: auto;
    fill: white;
}


/* better monokai */

#editor.ace-monokai {
    background-color: var(--background);
}

#editor.ace-monokai .ace_gutter {
    background-color: var(--light);
}

#editor.ace-monokai .ace_selection {
    background-color: var(--lighter);
}

#editor.ace-monokai .ace_marker-layer .ace_active-line {
    background-color: rgba(0, 0, 0, 0.2);
}
