svg{
	max-width:100%;
	max-height:100%;
}

header{
	width:100%;
	height:50px;
	display: flex;
	align-items:center;
	justify-content:space-between;
	padding:0px 20px;
	background-color: var(--top);
	color:white;
	fill:white;
	font-size:30px;
}
header #new-file{
	position:relative;
    display: grid;
	width: 40px;
	height: 40px;
	align-items:center;
}
header #new-file svg{
	z-index:1;
}
header #new-file #new-file-type{
	position:absolute;
	top:0; right: -2px;
	width:40px; height:100%;
	pointer-events:none;
	overflow:hidden;
	font-size:14px;
	opacity:0;
	background: var(--light);
	border-radius:40px;
	transition: all 100ms ease-in-out;
}
header #new-file:hover #new-file-type{
	opacity:1;
	width:120px;
	pointer-events:all;
}
header #new-file #new-file-type span{
	position:absolute;
	top:0;
	margin-left:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-shrink:0;
	width:40px;
	height:40px;
	border-radius: 100%;
	cursor:pointer;
	
	opacity:0.8;
	transition: all 100ms ease-in-out;
}
header #new-file #new-file-type span:first-child{
	left:0px;
}
header #new-file #new-file-type span:last-child{
	left:40px;
}
header #new-file #new-file-type span:hover{
	opacity:1;
}
#files{
	padding:10px 20px;
}
.file{
	position:relative;
	color:white;
	height:45px;
	padding:10px 15px;
	display:grid;
	grid-template-columns: 60px auto 50px 125px;
	align-items:center;
	font-size:16px;
	border-radius:45px;
}
.file:hover{
	background: var(--lighter);
}
.file .file-icons{
	display:flex;
}
.file .file-icons .file-icon{
	display:flex;
	align-items:center;
	border-radius:20px;
	padding:2px 0px;
	transition: all 100ms ease-in-out;
	cursor:pointer;
}
.file .file-icons .file-icon svg{
	width: 20px;
	height: 20px;
	fill: white;
	opacity:0.7;
}
.file .file-icons .file-icon.icon-confirm svg,
.file .file-icons .file-icon svg:hover{
	opacity:1;
}
.file .file-icons .file-icon.icon-confirm{
	background:#C00;
	padding:2px 5px;
}
.file .file-icons .file-icon::before{
	content:"DELETE";
    font-size: 12px;
    width: 0px;
	overflow:hidden;
	text-align:center;
	transition: width 100ms ease-in-out;
}
.file .file-icons .file-icon.icon-confirm::before{
	width:50px;
}
.file .file-icons .file-edit{
	margin-left:auto;
	margin-right:5px;
}